<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Peptide Encoding</title>
	<link rel='stylesheet' type=text/css href="{{ url_for('static', filename='site.css') }}" >
</head>
<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/errorcheck">Error Checker</a>
	  </div>

    <div id='main'>
		<h1>Peptide Encoding</h1>
		<div>This is a tool which finds substrings of a genome encoding a given amino acid sequence.</div>
		<div id='first_text'> <b>Please Note:</b> We say that a DNA string pattern
		encodes an Amino Acid motif if the RNA string transcribed from either
		pattern or its reverse complement pattern translates into the Motif.
		In other words, the algorithim searches for the DNA pattern and the reverse complement pattern.</div>

		<form method="POST" id='post_form' action=''>
			<div id='forms'>
				<h2>Enter your DNA string:</h2>
				<textarea name='DNA' id='DNA' >{DNA}</textarea>
				<p>Check your DNA string for errors <a href='errorcheck.html'>here</a></p>
				<h2>Enter your Amino acid motif:</h2>
				<textarea name='Motif' id='Motif'>{Motif}</textarea>
			</div>
			<p><input type="submit" value="submit" class='submit' /></p>

        </form>

        <div id='Result'>
            <h2>Results:</h2>
            <textarea name='Results' id='Results'>{result}
            </textarea>

        </div>
        <p><a href="/">Click here to calculate again</a>

    </div>


</body>
</html>